// COLORS
$primary-color: #36d1dc;
$secondary-color: #ffffff;
$font-family: "Montserrat", sans-serif;

$light-white: #0d1853;
$white-color: #ffffff;
$dark-grey: #000000;

$dark-blue-text: #ffffff; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
